{% extends 'users/base.html' %}
{% block content %}
<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title mb-0">Delete Comment</h4>
					</div>
					<div class="card-body">
						<h3 class="alert alert-danger p-2">Note: this action cannot be reversed</h3>
						<form class="form-group" method="POST">
							{% csrf_token %}
							<button class="btn btn-danger">Delete</button>

							
							<a class="btn btn-outline-secondary" href="{% url 'project_details' comment.project.id %}">Go back</a>
							
						</form>
					</div>	
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
