{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<main class="content">
	<div class="container-fluid p-0">
		{% for message in messages %}
		<p class="alert alert-success p-2">{{message}}</p>
		{% endfor %}
		{% if request.user.groups.get.name == "project_manager" %}
		<a class="btn btn-info mb-2" href="{% url 'pm_dashboard' %}">Go Back</a>

		{% elif request.user.developer %}
		<a class="btn btn-info mb-2" href="{% url 'dev_dashboard' %}">Go Back</a>
		{% elif request.user.admin %}
		<a class="btn btn-info mb-2" href="{% url 'project_dashboard' %}">Go Back</a>		
		{% endif %}

		<div class="row">
			
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						
						<h5 class="card-title mb-0">{{project.title}} Project details</h5>
						
					</div>
					
					<div class="card-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-12">
									<div>
										<h5>Title:</h5>
										<p style="color: darkblue">{{project.title}}</p>
									</div>
									<hr>
									<div>
										<h5>Description:</h5>
										<p style="color:darkblue">{{project.description}}</p>
									</div>
									<hr>

									<div>
										<h5>Project Manager:</h5>
										<p style="color:darkblue">{{project.project_manager}}</p>
									</div>
									
									
									<hr>
									
									<div>
										<h5>Date Created:</h5>
										<p style="color:darkblue">{{project.created_at}}</p>
									</div>
									<hr>
									
								</div>	
							</div>
							
						</div>
						<div class="card-action">
							<center>
								{% if request.user.project_manager or request.user.admin %}
								
								<a class="btn btn-primary mb-3 ml-2" href="{% url 'update_project' project.id %}">Update </a>
								<a class="btn btn-danger mb-3 ml-2" href="{% url 'delete_project' project.id %}">Delete</a>

								{% endif %}
								
							</center>
						</div>
					</div>


					
				</div>
				<div class="col-lg-6">
					

				</div>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Assigned Developers</h5>
					</div>
					<div class="card-body">
						<table id="table_id" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Username</th>
									<th>Email</th>
									<th>Role</th>
								</tr>
							</thead>
							<tbody>
								{% for dev in project.assigned_devs.all %}
								<tr>
									<td>{{dev.developer.username}}</td>
									<td>{{dev.developer.email}}</td>
									<td>{{dev.developer.groups.get}}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Username</th>
									<th>Email</th>
									<th>Role</th>
									
								</tr>
							</tfoot>
						</table>
					</div>
					{% if request.user.groups.get.name == "project_manager" or request.user.admin %}
					<a class="btn btn-info" href="{% url 're_assign' project.id %}">Re-Assign Devs</a>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">{{project.title}} Tickets</h5>
					</div>
					<div class="card-body">
						<table id="tickets" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Title</th>
									<th>Priority</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for ticket in project_tickets %}
								<tr>
									<td>{{ticket.title}}</td>
									<td>{{ticket.priority}}</td>
									<td>
										<ul>
											{% if request.user.developer and ticket.developers == request.user.developer %}
											<li><a href="{% url 'ticket_details' ticket.id %}">Details</a></li>
											{% elif request.user.groups.get.name == "project_manager" %}
											<li><a href="{% url 'ticket_details' ticket.id %}">Details</a></li>
											<li><a href="{% url 'ticket_update' ticket.id %}">Updata</a></li>
											{% elif request.user.admin or request.user.submitter %}
											<li><a href="{% url 'ticket_details' ticket.id %}">Details</a></li>
											<li><a href="{% url 'ticket_update' ticket.id %}">Updata</a></li>
											{% endif %}
										</ul>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Title</th>
									<th>Priority</th>
									<th>Action</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						
						<h5 class="card-title mb-0">Contribute with your POV.</h5>
						
					</div>
					
					<div class="card-body">
						<div class="container-fluid">
							<div class="card">
								<div class="card-body">
									<form method="POST">
										{% csrf_token %}
										{{form|crispy}}
										<button class="btn btn-info">Comment</button>
									</form>
								</div>
							</div>
						</div>
						<hr>
						<table id="table_id" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Commenter</th>
									<th>Comment</th>
									<th>Date Created</th>

								</tr>
							</thead>
							<tbody>
								{% for comment in project_comments %}
								<tr>
									<td>
										{{comment.commenter.username}}
										<br>
										{%if request.user == comment.commenter %}
										<a href="{% url 'update_p_comment' comment.id %}">Update</a>
										<a style="color: red" href="{% url 'delete_p_comment' comment.id %}">Delete</a>	
										{% endif %}
									</td>
									<td>{{comment.comment}}</td>
									<td>{{comment.created_at}}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Commenter</th>
									<th>Comment</th>
									<th>Date Created</th>

								</tr>
							</tfoot>
						</table>
					</div>
					
				</div>

			</div>
		</div>

	</div>

</main>
{% endblock %}