 {% extends 'users/base.html' %}
{% load static %}
{% block content %}


<main class="content">
	<div class="container-fluid p-0">
		{% for message in messages %}
		<p class="alert alert-success p-2">{{message}}</p>
		{% endfor %}
		<div class="row">
			<div class="col-12">
				<div class="w-100">
					
					<hr>
					<center>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">Total Open Tickets</h5>
										<h1 class="display-5">{{total_open_tickets}}</h1>
										<div class="mb-1">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title mb-4">Total Closed Tickets</h5>
										<h1 class="display-5">{{total_closed_tickets}}</h1>
										<div class="mb-1">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title mb-4">Total Tickets</h5>
									<h1 class="display-5">{{sub_tickets.count}}</h1>
									<div class="mb-1">
									</div>
								</div>
							</div>
						</div>
					</center>
				</div>
				<hr>
			</div>


			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Registered Tickets</h5>
					</div>
					<div class="card-body py-3">
						<table id="tickets" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Title</th>
									<th>status</th>
									<th>priority</th>
									<th>Project Title</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for ticket in sub_tickets %}
								<tr>
									<td>{{ticket.title}}</td>
									<td>{{ticket.status}}</td>
									<td>{{ticket.priority}}</td>
									<td>{{ticket.project.title}}</td>
									<td>
										<ul>
											<li><a href="{% url 'ticket_details' ticket.id %}">Details</a></li>
											<li><a href="{% url 'ticket_update' ticket.id %}">Update</a></li>
											<li><a style="color: red;" href="{% url 'ticket_delete' ticket.id %}">Delete</a></li>
										</ul>
									</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Title</th>
									<th>status</th>
									<th>priority</th>
									<th>Project Title</th>
									<th>Action</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<hr>
			</div>
		</div>

	</main>

	{% endblock %}		